/*====================================================================*/
/*----------------------------- SECTION ------------------------------*/
/*====================================================================*/

.section {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: #000;

    overflow: hidden;
}

.no-js .section:target,
.section--current {
    z-index: 100;
}

.no-js .section:not(:target):not(.section--current),
.js .section:not(.section--current) {
    display: none;
}

.section__hide-anim {
    transform: scale(0.8725);

    opacity: 0;

    transition:
        transform 1s cubic-bezier(.74, .3, .51, .82) 0s,
        opacity 1s cubic-bezier(.74, .3, .51, .82) 0s;
}

.section__hide-2-anim {
    transform: scale(0.8725);

    opacity: 0;

    transition:
        transform 1s cubic-bezier(.81, .07, .55, .9) 0s,
        opacity 1s cubic-bezier(.81, .07, .55, .9) 0s;
}

    .section__background {
        overflow: hidden;
    }

        .section__background-layer {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        .section__background-layer--parallax {
            top: 50%;
            left: 50%;

            width: calc(100% + 60px);
            height: calc(100% + 60px);

            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    .section__content {
        position: relative;
        z-index: 100;

        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        scrollbar-color: rgba(255, 255, 255, 0.55) rgba(0, 0, 0, 0.75);
        scrollbar-width: thin;
    }

    .section__content:focus-visible {
        outline: none;
    }

    .section__content--hide-scrollbar {
        scrollbar-color: rgba(255, 255, 255, 0) rgba(0, 0, 0, 0);
    }

    .section__content::-webkit-scrollbar {
        max-width: 6px;
    }

    .section__content::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.75);
    }

    .section__content::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.55);
    }

    .section__content--hide-scrollbar::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .section__content--hide-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0);
    }

    .section__content::-webkit-scrollbar-button {
        display: none;
    }

        .section__content .center {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            min-height: 100vh;
            padding-top: 50px;
            padding-bottom: 50px;
        }

@media (min-width: 1260px) {}
@media (min-width: 1520px) {}
@media (min-width: 1260px) and (max-width: 1519px) {}
@media (min-width: 768px) and (max-width: 1259px) {}
@media (min-width: 1024px) and (max-width: 1259px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (max-width: 767px) {}
@media (min-width: 640px) and (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 639px) {}
@media (max-width: 479px) {}


/* Barvy:
 * primary: currentColor
 */
